
.section-text
{
    font-size: 1.7rem;
    margin-right: 5rem;
}

.about-text
{
    width:65%;
    &>p{
       margin:1rem 0 1rem 0;
    }
}
.about-main
{
    display: flex;
    justify-content: space-between;
}
.profile-image
{
    width:25rem;
    filter: grayscale(0.25);
    height: auto;
    border-radius: 5%;
}

.about-skills
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.about-skills-section
{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0.5rem 0 2rem 0;
}
.about-skills-title
{
    font-size: 1.9rem;
    margin:0 0 0.25rem 0;
    font-weight: 300;
}
.about-skills-icons
{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    >i
    {
        padding:1rem 1.5rem 1rem 1.5rem;
    }
}
.software-icon
{
    font-size: 5rem;
}


@media(max-width: 600px) 
{
    html,body{font-size: 1px; max-width: 100vw; display: flex; flex-direction: column; justify-content: center; align-items: center;} 
    .section-container
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .about-main
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-title
    {
        text-align: center;
    }
    .section-text
    {
        font-size: 1.7rem;
     
    }

    .about-text
    {
        width:95%;
       text-align: center;
       margin: 0;

    }
    .profile-image
    {
 
        filter: grayscale(0.25);
        height: auto;
        border-radius: 5%;
    }

    .about-skills
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .about-skills-section
    {
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:0.5rem 0 2rem 0;
    }
    .about-skills-title
    {
        font-size: 1.9rem;
        margin:0 0 0.25rem 0;
        font-weight: 300;
    }
    .about-skills-icons
    {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        >i
        {
            padding:1rem 1.5rem 1rem 1.5rem;
        }
    }
    .software-icon
    {
        font-size: 4.5rem;
    }

 
}

@media(max-width: 600px) 
{
    html,body{font-size: 7px; max-width: 100vw; display: flex; flex-direction: column; justify-content: center; align-items: center;} 
    .section-container{width:100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    
}
@media (min-width: 601px) and (max-width: 1080px) 
{
    html,body{font-size: 9px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
    .main-container, .section-container{width:80rem;}
    .about-main
    {   
        display: flex;
        justify-content: space-between;
    }
    .about-text {font-size: 1.5rem; width: 50%;}
}
.invert{filter: invert(1);}
.dark-mode-toggled{filter: invert(1);}