.resume-body {
  background-color: rgba(255, 255, 255, 0.8431372549);
  /* margin:2rem; */
  padding: 0 2.5rem 5rem 2.5rem;
  width: 90rem;
  color: #1C1C1D;
  border: 0.175rem #1C1C1D solid;
  margin: 1rem 0 0rem 0;
}

.resume-head-section {
  display: flex;
  flex-direction: column;
  border-bottom: 0.175rem #1C1C1D solid;
}

.resume-head-title {
  font-size: 3rem;
  margin-bottom: 0.25rem;
}

.resume-head-sub {
  display: flex;
  padding: 0;
}

.resume-head-sub-title {
  font-weight: 100;
  font-size: 2rem;
  margin-top: 0.35rem;
  padding-right: 0.5rem;
  font-weight: 400;
}
.resume-head-sub-title > a {
  color: #2591B2;
}
.resume-head-sub-title > a:hover {
  cursor: pointer;
  color: rgba(37, 145, 178, 0.5098039216);
  text-decoration: underline;
}

.resume-main-body {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.resume-main-title {
  font-size: 1.65rem;
  font-weight: bold;
  border-bottom: 0.175rem #1C1C1D solid;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.resume-main-subsection-title {
  font-size: 1.55rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.resume-main-subsection-subtitle {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  text-align: left;
}
.resume-main-subsection-subtitle > :nth-child(2) {
  text-align: right;
}

.resume-main-list-item {
  font-size: 1.3rem;
}

.section-title {
  display: flex;
  justify-content: space-between;
}

.btn-large-link {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
}
.btn-large-link:hover {
  background-color: #414143;
  color: #e3e3e2;
}
.btn-large-link:hover > .icon {
  filter: invert(1);
}

.icon {
  content: url("https://sorphil.github.io/portfolio-web/assets/resume/download-icon.png");
  height: 1.1rem;
  margin-left: 0.5rem;
}

.invert {
  filter: invert(1);
}

.dark-mode-toggled {
  filter: invert(1);
}

@media (max-width: 600px) {
  html, body {
    font-size: 7px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .resume-main {
    margin: 2.5rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .resume-body {
    background-color: rgba(255, 255, 255, 0.8431372549);
    padding: 0 2.5rem 5rem 2.5rem;
    margin: 0 2rem 0 2rem;
    width: 80%;
  }
  .btn-large-link {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem 0 3rem 0;
    width: 70%;
  }
  .resume-head-title {
    font-size: 2.35rem;
    margin-bottom: 0.15rem;
  }
  .resume-head-sub {
    display: flex;
    padding: 0;
  }
  .resume-head-sub-title {
    font-weight: 100;
    font-size: 1.35rem;
    margin-top: 0.15rem;
    padding-right: 0.15rem;
    font-weight: 400;
  }
  .resume-head-sub-title > a {
    color: #2591B2;
  }
  .resume-head-sub-title > a:hover {
    cursor: pointer;
    color: rgba(37, 145, 178, 0.5098039216);
    text-decoration: underline;
  }
  .resume-main-body {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }
  .resume-main-title {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0.175rem #1C1C1D solid;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  .resume-main-subsection-title {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  .resume-main-subsection-subtitle {
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
    font-style: italic;
  }
  .resume-main-list-item {
    font-size: 1rem;
  }
}
@media (min-width: 601px) and (max-width: 1080px) {
  html, body {
    font-size: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-container {
    width: 90rem;
  }
  .section-container {
    width: 100%;
  }
  .section-header {
    margin: 0 3.5rem 0 3.5rem;
  }
  .resume-main {
    margin: 2.5rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .resume-body {
    width: 85%;
  }
  .btn-large-link {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem 0 3rem 0;
  }
}/*# sourceMappingURL=resume.css.map */